# IS 362 â€“ Project 1

### Assignment

The chart above describes arrival delays for two airlines across five destinations. Your task is to:
1. Create a .CSV file (or optionally, a MySQL database!) that includes all of the information below. You may change
the structure of the information as you like.
2. Read the information from your .CSV file into pandas, and perform analysis to compare the arrival delays for the
two airlines.
3. Your code should be in a Jupyter (IPython) notebook (in GitHub), and should include narrative descriptions of your
analysis and conclusions.

In [1]:
import pandas as pd

In [2]:
# First, I turned the table from the assignment into a simple CSV file.
# Import the CSV file and set the Destination column as the index

df = pd.read_csv('IS362 Project 1.csv', index_col='Destination')

df

                Alaska_On_Time  Alaska_Delayed  AMWest_On_Time  AMWest_Delayed
Destination
Los Angeles                497              62             694             117
Phoenix                    221              12            4840             415
San Diego                  212              20             383              65
San Francisco              503             102             320             129
Seattle                   1841             305             201              61

In [23]:
# We calculate the percent of Alaska Airlines flights that were delayed for each of the 5 destinations
# The on time flights divided by the delayed flights times 100 gives you the percent of total flights delayed.
# We set the results of the calculation to a new column called "Alaska_Percent_Delayed"

df['Total_Alaska_Flights'] = df['Alaska_On_Time'] + df['Alaska_Delayed']

df['Alaska_Percent_Delayed'] = (df['Alaska_Delayed'] / df['Total_Alaska_Flights']) * 100

df['Alaska_Percent_Delayed']

Destination
Los Angeles       11.091234
Phoenix            5.150215
San Diego          8.620690
San Francisco     16.859504
Seattle           14.212488
Name: Alaska_Percent_Delayed, dtype: float64

In [24]:
# We do the same thing for the AM West flights
# We set the results of the calculation to a new column called "AMWest_Percent_Delayed"

df['Total_Alaska_Flights'] = df['AMWest_Delayed'] + df['AMWest_On_Time']

df['AMWest_Percent_Delayed'] = (df['AMWest_Delayed'] / df['Total_Alaska_Flights']) * 100

df['AMWest_Percent_Delayed']

Destination
Los Angeles       14.426634
Phoenix            7.897241
San Diego         14.508929
San Francisco     28.730512
Seattle           23.282443
Name: AMWest_Percent_Delayed, dtype: float64

In [25]:
# We can visually compare the delays of the two airlines at each destination
# Clearly we see that AM West airline has a greater percent of flights delayed at every destination.

df[['Alaska_Percent_Delayed', 'AMWest_Percent_Delayed']]

                Alaska_Percent_Delayed  AMWest_Percent_Delayed
Destination
Los Angeles                  11.091234               14.426634
Phoenix                       5.150215                7.897241
San Diego                     8.620690               14.508929
San Francisco                16.859504               28.730512
Seattle                      14.212488               23.282443

In [6]:
# Here we are iterating through the dataframe to compare the delay percentages for the two airlines at each 
# destination. If the delay percentage for Alaska airlines is greater than AM West, we set a value in new column called 
# "Most_Delayed_Airline" to "Alaska" otherwise "AMWest" is the most delayed.
# We see that AMWest is consistently the most delayed airline.

for index, row in df.iterrows():
    if row["Alaska_Percent_Delayed"] > row["AMWest_Percent_Delayed"]:
        df.loc[index, 'Most_Delayed_Airline'] = 'Alaska'
    else:
        df.loc[index, 'Most_Delayed_Airline'] = 'AMWest'

df['Most_Delayed_Airline']

Destination
Los Angeles       AMWest
Phoenix           AMWest
San Diego         AMWest
San Francisco     AMWest
Seattle           AMWest
Name: Most_Delayed_Airline, dtype: object

In [8]:
# A review of the dataframe with the new columns

df

,Alaska_On_Time,Alaska_Delayed,AMWest_On_Time,AMWest_Delayed,Alaska_Percent_Delayed,AMWest_Percent_Delayed,Most_Delayed_Airline,Most_Delayed_Airline_Alternate
Destination,,,,,,,,
Los Angeles,497,62,694,117,12.474849,16.858790,AMWest,AMWest
Phoenix,221,12,4840,415,5.429864,8.574380,AMWest,AMWest
San Diego,212,20,383,65,9.433962,16.971279,AMWest,AMWest
San Francisco,503,102,320,129,20.278330,40.312500,AMWest,AMWest
Seattle,1841,305,201,61,16.567083,30.348259,AMWest,AMWest

In [ ]:
## ADD conclusion