## The following is an analysis of the flight delays among Alaska airlines and AW West airlines for travel to Los Angelos, Pheonix, San Diego, San Francisco and Seattle.

In [1]:
import pandas as pd

In [50]:
#Read information from the csv file into pandas
airline_data=pd.read_csv("/Users/candacegrant/Desktop/IS362 Date Acquisition/IS362 Project 1.csv")

In [51]:
#Analysis of the first 5 rows to check the validity of the data.
airline_data.head()

,City,Alaska_On_Time,Alaska_Delay,AM WEST_On_Time,AM WEST_Delay
0,Los Angelos,497,62,694,117
1,Pheonix,221,12,4840,415
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

In [52]:
# After verifying the data, the entire table is printed with indexes.
print(airline_data)

             City  Alaska_On_Time  Alaska_Delay  AM WEST_On_Time  \
0     Los Angelos             497            62              694
1         Pheonix             221            12             4840
2       San Diego             212            20              383
3  San Francisco              503           102              320
4         Seattle            1841           305              201

   AM WEST_Delay
0            117
1            415
2             65
3            129
4             61

In [53]:
# Comparison of the arrival delays of the Alaska airlines
airline_data.sort_values(by='Alaska_Delay', ascending=False)

,City,Alaska_On_Time,Alaska_Delay,AM WEST_On_Time,AM WEST_Delay
4,Seattle,1841,305,201,61
3,San Francisco,503,102,320,129
0,Los Angelos,497,62,694,117
2,San Diego,212,20,383,65
1,Pheonix,221,12,4840,415

In [55]:
# Comparison of the arrival delays of the AM airlines
airline_data.sort_values(by='AM WEST_Delay', ascending=False)

,City,Alaska_On_Time,Alaska_Delay,AM WEST_On_Time,AM WEST_Delay
1,Pheonix,221,12,4840,415
3,San Francisco,503,102,320,129
0,Los Angelos,497,62,694,117
2,San Diego,212,20,383,65
4,Seattle,1841,305,201,61

In [56]:
#Analyze the statistical details of the Alaska airlines delay
airline_data['Alaska_Delay'].describe()

count      5.000000
mean     100.200000
std      120.017499
min       12.000000
25%       20.000000
50%       62.000000
75%      102.000000
max      305.000000
Name: Alaska_Delay, dtype: float64

In [57]:
#Analyze the statistical details of the AM airlines delay
airline_data['AM WEST_Delay'].describe()

count      5.000000
mean     157.400000
std      147.162495
min       61.000000
25%       65.000000
50%      117.000000
75%      129.000000
max      415.000000
Name: AM WEST_Delay, dtype: float64

In [58]:
# Creating  a side by side two level grouping of delay statistics for both Alaska and AM airlines
airline_data['AM WEST_Delay'].describe(), airline_data['Alaska_Delay'].describe()

(count      5.000000
 mean     157.400000
 std      147.162495
 min       61.000000
 25%       65.000000
 50%      117.000000
 75%      129.000000
 max      415.000000
 Name: AM WEST_Delay, dtype: float64, count      5.000000
 mean     100.200000
 std      120.017499
 min       12.000000
 25%       20.000000
 50%       62.000000
 75%      102.000000
 max      305.000000
 Name: Alaska_Delay, dtype: float64)

In [62]:
# The average nummber of delays is greater for AM airlines than Alaska airlines.
airline_data['Alaska_Delay'].mean(), airline_data['AM WEST_Delay'].mean()

(100.2, 157.4)

In [61]:
# Further analysis shows that Alaska had the lowest number of delays per destination that AM
airline_data['Alaska_Delay'].min(), airline_data['AM WEST_Delay'].min()

(12, 61)

In [60]:
# The largest number of delays per destinaltion occurred in Alaska airlines
airline_data['Alaska_Delay'].max(), airline_data['AM WEST_Delay'].max()

(305, 415)

In [59]:
# Analysis of the reliability of the airlines based on standard deviation values
airline_data['Alaska_Delay'].std(), airline_data['AM WEST_Delay'].std()

(120.0174987241444, 147.16249522211834)

# Conclusion
### The statistical data from the dataset of the airlines, Alaska and AM West show that both experience a significant amount of delays among the five cities sampled. Alaska had the lowest number of delays per city as well as the lowest average delays per city sampled in the data set. The lower mean and minimum number of delays shows that the range of delays is lower for Alaska airlines than AM West airlines among the five cities samples. This means that you are more likely to expeerinece a delay travelling on AM West airlines than Alaska airlines. The standerd deviation among both airlines further proves that Alaska is more reliable than AM West for the cities travelled. The smaller standard deviation among Alaska airlilnes shows that values for the the number of delays in each city is more clustered around the mean indicating that there is less variation in the delays from Alaska airlines than Alaska airlines.